
:root {
    --psx-border: 0.5em solid #b3b3b3;
    --psx-width: 33.75em;
    --psx-height: 22.5em;
    --psx-bgcolor: #e7e7e7;
}

body{
    background: blue;
   
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 4em;
  
    
    
    
}

.play-station-container {
   
    
  .ps-dentro {
    display: grid;
    grid-template-columns: 0.85fr 1.15fr 0.85fr;
    grid-template-rows: 1fr;
    align-items: center;
        width: var(--psx-width);
        height: var(--psx-height);
        background: #f003;
        
        

      
            .parte-izq{
            border: var(--psx-border);
            background: var(--psx-bgcolor);
            height: 100%;
            border-radius: 0.4em;
            
           }

           .parte-der{
                border: var(--psx-border);
                background: var(--psx-bgcolor);
                height: 100%;
                border-radius: 0.4em;
            
                
            }
            }
            .ps-centro{
                border: var(--psx-border);
                background: var(--psx-bgcolor);
                height: 90%;
                border-left: 0;
                border-right: 0;
               

                }
            .sombra{
                    background: #000;
                    width: 25%;
                    height: 100%;
                    position:absolute;
                    top: 0;
                    left: 100%;
                    z-index: -1;

                }
        }

    
